* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

/* body {
    background: crimson;
} */

body {
    background: slategray;
    /* background: rgb(0, 128, 255); */
}

.card {
    width: 700px;
    background: #ccc;
    padding: 20px;
    margin: 20px;
    font-family: sans-serif;
    line-height: 28px;
}

/* scrollbar - not on FF*/ 
::-webkit-scrollbar {
    background-color: transparent;
    width: 25px;
    /* border: 2px dashed darkgray; */
    border: 2px darkgray;
} 

::-webkit-scrollbar-thumb {
    /* background: linear-gradient(slategray,#FF6A88); */
    background-image: linear-gradient(180deg, slategray 0%, #FF6A88 50%, slategray 100%);
    border-radius: 100px;
}
